conn ikev2-eap
    also=rw-base
    type=tunnel
    keyexchange=ikev2
    rekey=no
    left=%any
    leftid=@{{ vpn_domain }}
    leftcert=server-cert.pem
    leftsubnet=0.0.0.0/0
    leftsendcert=always
    right=%any
    rightid=%any
    rightsourceip={{ vpn_route_range }}
    rightdns={{ dns_1 }},{{ dns_2 }}
    rightauth=eap-mschapv2
    rightsendcert=never
    eap_identity=%identity
