config setup
    charondebug="ike 2, knl 2, cfg 2, net 2, esp 2, dmn 2, mgr 2"
    uniqueids=yes

conn rw-base
    encapsulation=yes
    authby=secret
    pfs=no
    keyingtries=5
    leftid=@{{ vpn_domain }}
    fragmentation=yes
    dpdaction=clear
    dpdtimeout=90s
    dpddelay=30s
    ikelifetime=1h
    lifetime=1h
    auto=add

conn 12tpd-vpn
    also=rw-base
    ike=aes128-aes192-aes256-sha1-sha256-modp1024-modp3072
    esp=aes128-aes192-aes256-sha1-sha256-modp1024-modp3072
    leftsubnet=%dynamic[/1701]
    rightsubnet=%dynamic
    leftauth=psk
    rightauth=psk
    type=transport

include /etc/ipsec.d/*.conf
