{% if vm_os_distrib == 'CentOS' %}
{{ url_docker_gpg_centos }}
{% elif vm_os_distrib == 'RedHat' %}
{{ url_docker_gpg_rhel }}
{% elif vm_os_distrib == 'Fedora' %}
{{ url_docker_gpg_fedora }}
{% elif vm_os_distrib == 'Ubuntu' %}
{{ url_docker_gpg_ubuntu }}
{% elif vm_os_distrib == 'Debian' %}
{{ url_docker_pgp_debian }}
{% endif %}