$TTL 86400
@       IN      SOA     ns1.{{ dns_zone_name }}. admin.{{ dns_zone_name }}. (
                        2024022501 ; Serial
                        3600       ; Refresh
                        1800       ; Retry
                        604800     ; Expire
                        86400 )    ; Minimum

@       IN      NS      {{ dns_id_prefix }}.{{ dns_zone_name }}.
@       IN      A       {{ ansible_default_ipv4.address }}
ns1     IN      A       {{ ansible_default_ipv4.address }}
