[Unit]
Description=Startup Configuration Script
DefaultDependencies=no
Before=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ipsec.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target