vm_os_type         	    = "{{ packer_vm_os_type }}"
http_dir           	    = "{{ packer_http_dir }}"
iso_value_checksum      = ""
iso_value_checksum_http = "{{ packer_iso_value_checksum_http }}"
iso_image    		        = "{{ packer_iso_image }}"
iso_image_http     	    = "{{ packer_iso_image_http }}"
vm_build_name_id	      = "{{ packer_vm_name_id }}"
vm_build_name           = "{{ packer_vm_name }}"
vm_mem             	    = "{{ packer_vm_mem }}"
vm_cp              	    = "{{ packer_vm_cp }}"
vm_storage_size    	    = "{{ packer_vm_storage_size }}"
box_path_output    	    = "{{ packer_box_path_output }}"