---
# vars file for deploy_sdk_linux

# Example file git_vars.yml:
git_cfg:
  - { name: 'init.defaultBranch', value: 'main' }
  - { name: 'user.name', value: 'user' }
  - { name: 'user.email', value: 'email' }
  - { name: 'alias.ci', value: 'commit' }

# Example file main.yml:
packages:
  - mc
  - lsof
  - htop
  - vim
  - python3
  - python3-pip
  - curl
  - wget
  - telnet
  - git
  - make

services:
  - docker-ce

py_modules:
  - packaging
  - setuptools
  - virtualenv
  - docker

# The vers-distributions.yml file is generated using python script ../files/gen_vers_distribs.py
