# Secrets for authentication using CHAP
# client              server            secret                        IP addresses
"{{ vpn_client_1 }}"  l2tpd-vpn       "{{ vpn_client_secret_1 }}"         *
"{{ vpn_client_2 }}"  l2tpd-vpn       "{{ vpn_client_secret_2 }}"         *
