# This file holds shared secrets or RSA private keys for authentication.
# ipsec.secrets - strongSwan IPsec secrets file

# RSA private key for this host, authenticating it to any other host
# which knows the public part.

%any %any : PSK "{{ vpn_secret }}"

: RSA "server-key.pem"

{{ vpn_client_1 }} : EAP "{{ vpn_client_secret_1 }}"
{{ vpn_client_2 }} : EAP "{{ vpn_client_secret_1 }}"