[global]
port = 1701
auth file = /etc/ppp/chap-secrets
access control = no
ipsec saref = yes
force userspace = yes

[lns default]
ip range = {{ vpn_ip_range }}
local ip = {{ vpn_local_ip }}
exclusive = no
require authentication = yes
name = l2tpd-vpn
pppoptfile = /etc/ppp/options.xl2tpd
flow bit = yes
length bit = yes
hidden bit = no
